<!DOCTYPE html>
<html>
  <head>
    <title>we are fked tutorial</title>
    <style></style>
    <script src="./vue.js"></script>
  </head>
  <body>
    <h1>App 14</h1>
    <a href="https://vuejs.org/v2/guide/computed.html" target="_blank"
      >https://vuejs.org/v2/guide/computed.html</a
    >

    <div id="demo">
      firstname:
      <input type="text" v-model="firstName" />{{ firstName }}

      <br /><br />
      lastName:
      <input type="text" v-model="lastName" />{{ lastName }}

      <br /><br />
      fullName:
      <input type="text" v-bind:value="fullName" />{{ fullName }}
    </div>

    <script>
      var vm = new Vue({
        el: "#demo",
        data: {
          firstName: "Foo",
          lastName: "Bar",
        },
        computed: {
          fullName: {
            // getter
            get: function () {
              return this.firstName + " " + this.lastName;
            },
            // setter
            set: function (newValue) {
              var names = newValue.split(" ");
              this.firstName = names[0];
              this.lastName = names[names.length - 1];
            },
          },
        },
      });
    </script>
  </body>
</html>
